<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <script th:src="@{/js/gailuakGehitu.js}" defer></script>
</head>

<body class="bg-light">
    <div class="container d-flex justify-content-center align-items-center my-5">
        <div class="row w-100 justify-content-center">
            <div class="col-12 col-sm-8">
                <div class="card shadow border-0">
                    <div class="card-body d-flex flex-column p-5">
                        <h2 th:text="${gailua.idGailuElektronikoa} != null ? 'Gailua editatu' : 'Gailu berria gehitu'">
                        </h2>
                        <hr>
                        <form th:action="@{/admin/gailuak/gehitu}" th:object="${gailua}" method="post">
                            <input type="hidden" th:field="*{idGailuElektronikoa}">

                            <div class="d-flex flex-column mb-3">
                                <label for="izena" class="form-label">Gailuaren izena:</label>
                                <input type="text" th:field="*{izena}" class="form-control" id="izena"
                                    placeholder="Adib: Gelako ordenagailua">
                                <div class="text-danger" th:if="${#fields.hasErrors('izena')}" th:errors="*{izena}">
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="mota" class="form-label">Mota:</label>
                                <select th:field="*{mota}" name="mota" id="" class="form-select">
                                    <option value="Smartphone">Smartphone</option>
                                    <option value="Ordenagailua">Ordenagailua</option>
                                    <option value="Tableta">Tableta</option>
                                    <option value="Mahaigainekoa">Mahaigainekoa</option>
                                    <option value="Erloju adimendua">Erloju adimendua</option>
                                    <option value="Entzungailuak">Entzungailuak</option>
                                    <option value="Kamera">Kamera</option>
                                    <option value="Bestelakoak">Bestelakoak</option>
                                </select>
                                <div class="text-danger" th:if="${#fields.hasErrors('mota')}" th:errors="*{mota}"></div>
                            </div>
                            <div class="mb-3">
                                <label for="egoera" class="form-label">Egoera:</label>
                                <select th:field="*{egoera}" name="egoera" id="" class="form-select">
                                    <option value="Aktiboa">Aktiboa</option>
                                    <option value="Konponketan">Konponketan</option>
                                    <option value="Maileguan">Maileguan</option>
                                </select>
                                <div class="text-danger" th:if="${#fields.hasErrors('egoera')}" th:errors="*{egoera}">
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="marka" class="form-label">Marka:</label>
                                <input type="text" th:field="*{marka}" class="form-control" id="marka"
                                    placeholder="Adib: Dell">
                                <div class="text-danger" th:if="${#fields.hasErrors('marka')}" th:errors="*{marka}">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="modeloa" class="form-label">Modeloa:</label>
                                <input type="text" th:field="*{modelo}" class="form-control" id="modeloa"
                                    placeholder="Adib: Pro Precision 14 serie 7">
                                <div class="text-danger" th:if="${#fields.hasErrors('modelo')}" th:errors="*{modelo}">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="serieZenb" class="form-label">Serie zenbakia:</label>
                                <input type="text" th:field="*{serie}" class="form-control" id="serieZenb"
                                    placeholder="Adib: PA14260">
                                <div class="text-danger" th:if="${#fields.hasErrors('serie')}" th:errors="*{serie}">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="kokapena" class="form-label">Kokapena:</label>
                                <!-- <input type="text" th:field="*{gela.gelaZenbakia}" class="form-control"
                                    id="kokapena"> -->
                                <select th:field="*{gela}" class="form-select">
                                    <option th:each="gela : ${gelak}" th:value="${gela.idGela}"
                                        th:text="${gela.gelaZenbakia}">
                                    </option>
                                </select>
                                <div class="text-danger" th:if="${#fields.hasErrors('gela')}" th:errors="*{gela}"></div>
                            </div>
                            <div class="mb-3">
                                <label for="erosketaData" class="form-label">Erosketa Data:</label>
                                <input type="date" th:field="*{erosketaData}" class="form-control" id="erosketaData">
                                <div class="text-danger" th:if="${#fields.hasErrors('erosketaData')}"
                                    th:errors="*{erosketaData}"></div>
                            </div>
                            <div class="mb-3">
                                <label for="garantiaAmaiera" class="form-label">Garantia Amaiera:</label>
                                <input type="date" th:field="*{garantiaAmaiera}" class="form-control"
                                    id="garantiaAmaiera">
                                <div class="text-danger" th:if="${#fields.hasErrors('garantiaAmaiera')}"
                                    th:errors="*{garantiaAmaiera}"></div>
                            </div>
                            <div class="mb-3">
                                <label for="oharrak" class="form-label">Oharrak:</label>
                                <input type="text" th:field="*{deskribapena}" class="form-control" id="oharrak"
                                    placeholder="Adib: Ikasgelako ordenagailu nagusia" required>
                                <div class="text-danger" th:if="${#fields.hasErrors('deskribapena')}"
                                    th:errors="*{deskribapena}"></div>
                            </div>
                            <div class="d-flex gap-2">
                                <button type="submit" class="btn btn-primary"
                                    th:text="${gailua.idGailuElektronikoa} != null ? 'Gailua editatu' : 'Gailua gehitu'"></button>
                                <button type="button" class="btn btn-danger" id="btn-ezabatu">Garbitu</button>
                                <a th:href="@{/admin/gailuak}" class="btn btn-secondary">Utzi</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>